<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.security.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.yang.security.model.User">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
    <result column="company" jdbcType="VARCHAR" property="company"/>
    <result column="department" jdbcType="VARCHAR" property="department"/>
    <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    <collection property="authorities" ofType="com.yang.security.model.MyGrantedAuthority">
      <result column="value" property="role" />
    </collection>
  </resultMap>

  <select id="findUserByUsername" resultMap="BaseResultMap">
    select
      u.id as id, u.username as username, u.password as password, u.company as company, u.department as department, u.create_by as create_by, u.create_date as create_date, r.value as value
    from
      user u,
      user_role ur,
      role r
    where
      u.username=#{username}
    and
      u.id = ur.user_id
    and
      ur.role_id = r.id
  </select>
</mapper>